@* Hem cs hem de html kullanilabilir *@
@* @ isareti ile cs komutlari kullaniriz *@

@* Veri action'dan geliyor *@
<p>Merhaba <b>@ViewBag.isim</b></p>

@* Button yapmak *@
<p>Merhaba <span class="btn btn-primary">@ViewBag.isim</span>, uygulamamiza hosgeldiniz.</p>
<p>Merhaba <span class="btn btn-danger">@ViewBag.isim</span>, uygulamamiza hosgeldiniz.</p>
<p>Merhaba <span class="text-danger">@ViewBag.isim</span>, uygulamamiza hosgeldiniz.</p>