@* Model kullanmak *@

@* model kucuk harfle yazilir *@
@model List<string>

@* Model butuk harfle yazilir *@
@* @foreach (var item in Model)
    {
    <p>@item</p>
    } *@

@* Yeni Gosterim *@

<ol>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ol>